<!DOCTYPE html>
<html>
  <head>
  	
<link rel="shortcut icon" href="/graphics/favicon.ico" type="image/x-icon">
<link rel="icon" href="/graphics/favicon.ico" type="image/x-icon">
    <title>BLAH</title>
  </head>
  <body>
    <h1> ERROR></h1>
    <p>Welcome to YOU DID BAD ></p>
  </body
</html>
