<!doctype html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Traveling Table | Home</title>

<link rel="shortcut icon" href="/graphics/favicon.ico" type="image/x-icon">
<link rel="icon" href="/graphics/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
  </head>
  <body>
  	<div id="wrapper">
  	<img src="/graphics/box.png" id="gobi2"/>
    <img src="/graphics/errorpage.png" id="gobi"/>
</div>
    <div class="gohome">take <a href="/"><img class="table" src="/graphics/logo.png" /></a> home</div>
  </body
</html>
