<!doctype html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Traveling Table | Home</title>

<link rel="shortcut icon" href="/graphics/favicon.ico" type="image/x-icon">
<link rel="icon" href="/graphics/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
  </head>
  <body>
  	<div id="wrapper">
    <img src="/graphics/errorpage.png" id="gobi"/>
</div>
    <div style="background-color:#1F140A"><a href="/"><img class="table" src="/graphics/logo.png" /></a></div>
  </body
</html>
