<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add a Recipe | Food for Thought</title>

<meta name="viewport" content="width=device-width, initial-scale=1">



<script src="https://maps.googleapis.com/maps/api/js"></script>
<link href='https://fonts.googleapis.com/css?family=News+Cycle|Raleway:600,400,300' rel='stylesheet' type='text/css'>
    
    
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<!--END LOGIN-->
<script src="/javascripts/responsive_3dfoldscroll.js"></script>
<script src="/javascripts/mapscripts.js"></script>
<script src="/javascripts/validation.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/javascripts/recipe.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/recipe.css"/>

<script src="/javascripts/smooth-scroll.js"></script>
    
    
    
  </head>
  <body>
   <div class="page">


    <div id="instructionbar" class="foldWrapper clearfix">
      <div id="mapinstr" id="instructionbar"><h2>Place a marker to label the region your recipe comes from.</h2></div>
    </div>
    

    <div id="instructionbar" class="foldWrapper clearfix">
        <div id="recipeinstr" id="instructionbar"><h2>Fill out the recipe form with your dish information!</h2></div>
    </div>





    <div id="mapsection">
        <div id="map"></div>
    <div class="scroll"><a data-scroll data-options='{ "easing": "easeInOutQuad" }' href="#recipe_form"><button><img src="graphics/scroll copy.png" style="max-width:90%;"/></button></a></div>
    </div>
    
    

            <!--<div id="form">-->
      <!--<h3>Add your recipe</h3>-->
           
        <!--<h3 class="modal-title" id="myModalLabel" name="#recipe_form">Add your recipe</h3>-->
            <div class="modal-body" id="recipe_form">
 <!--               <form method="post" name="recipe" action="">
                    <fieldset>-->

                        <label for="recipe_name">Recipe Name: </label></br>
                        <input type="text" name="recipe_name" id="rec_name" placeholder="recipe name"  /></br>
                        <label class="error" for="recipe_name" id="recipe_name_error"> This field is required!</label></br></br>


                        
                        <div class="form-group">
                          <label for="sel1">What kind of dish is this recipe?</label>
                          <select class="form-control" id="sel1" name="dish_type">
                            <option>Appetizer/Side</option>
                            <option>Entree</option>
                            <option>Dessert</option>
                          </select>
                        </div>


                        <label for="rec_image">Image: </label></br>
                        <input type="text" name="recipe_image" id="recipe_image" placeholder="image url"  required /></br>
                        <label class="error" for="recipe_image" id="recipe_image_error"> This field is required!</label></br></br>
                        
                        <label for="recipe_checkbox">Dietary Restrictions</label></br>
                            <div class="checkbox">
                              <label><input type="checkbox" name="vegetarian" value="">Vegetarian</label>
                            </div>
                            <div class="checkbox">
                              <label><input type="checkbox" name="vegan" value="">Vegan</label>
                            </div>
                            <div class="checkbox">
                              <label><input type="checkbox" name="gluten-free" value="">Gluten-Free</label>
                            </div>
                            <div class="checkbox">
                              <label><input type="checkbox" name="allergies" value="">No peanuts/soy</label>
                            </div>
                        <input type="submit" name="submit" class="recipebutton" id="submit_btn" value="Submit" />
<!--                      </fieldset>
                  </form>-->
            </div>

    </div>

<script>
    smoothScroll.init({
      speed: 1000,
      easing: 'easeInOutCubic',
      offset: 0,
      updateURL: true,
      callbackBefore: function ( toggle, anchor ) {},
      callbackAfter: function ( toggle, anchor ) {}
    });
</script>

  </body>
</html>