<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>



<link rel="shortcut icon" href="/graphics/favicon.ico" type="image/x-icon">
<link rel="icon" href="/graphics/favicon.ico" type="image/x-icon">