<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">-->
<!doctype html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Food for Thought</title>
<meta name="viewport" content="width=device-width, initial-scale=1">


<script src="https://maps.googleapis.com/maps/api/js"></script>
<link href='http://fonts.googleapis.com/css?family=News+Cycle|Raleway:600,400,300' rel='stylesheet' type='text/css'>
<script>
      function initialize() {
        var mapArea = document.getElementById('map');
        var mapOptions = {
          center: new google.maps.LatLng(42.3598, -71.0921),
          zoom: 6,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
		  minZoom: 3,
		  maxZoom:7,
		  mapTypeControl: false,
		  streetViewControl: false,
		  zoomControl: false,
		  panControl: false,
styles: [

  {
    "featureType": "landscape.natural",
    "elementType": "geometry.fill",
    "stylers": [
      { "color": "#f5f5f2" },
      { "visibility": "on" }
    ]
  },{
    "featureType": "poi",
    "stylers": [
      { "visibility": "off" }
    ]
  },{
        "featureType": "poi.park",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#9BE4C4"
            }
        ]
    },{
    "featureType": "transit",
    "stylers": [
      { "visibility": "off" }
    ]
  },{
    "featureType": "landscape.man_made",
    "elementType": "geometry.fill",
    "stylers": [
      { "color": "#ffffff" },
      { "visibility": "on" }
    ]
  },{
    "featureType": "road.arterial",
    "stylers": [
      { "visibility": "simplified" },
      { "color": "#fee379" }
    ]
  },{
    "featureType": "road.highway",
    "elementType": "labels.icon",
    "stylers": [
      { "visibility": "off" }
    ]
  },{
    "featureType": "landscape",
    "stylers": [
      { "color": "#F7F8FF" }
    ]
  },{
    "featureType": "road",
    "stylers": [
      { "color": "#ffffff" }
    ]
  },{
    "featureType": "water",
    "stylers": [
      { "color": "#A9D5F1" }
    ]
  },{
    "featureType": "landscape",
    "stylers": [
      { "visibility": "off" }
    ]
  },
],

		}
		
        var map = new google.maps.Map(mapArea, mapOptions)
		new google.maps.Marker({position: {lat: 42.3589, lng: -71.0921}, map: map, icon: "marker3.png"}) 
      }
      google.maps.event.addDomListener(window, 'load', initialize);
	  
</script>




<!--LOGIN FORM-->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<!--END LOGIN-->

<script src="/javascripts/validation.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/javascripts/recipe.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
<!--<link rel="stylesheet" type="text/css" href="css/main.css"/> <!--CHANGE THIS LINE FOR THE EJS FILE-->
</head>



<body>

<div class="navbar navbar-inverse navbar-default navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <!--<a class="navbar-brand hidden-xs" href="#" style="vertical-align:center"><img src="GlobalGobi.png" class="brand"></a>
         <a class="navbar-brand visible-xs" href="#" style="vertical-align:center"><img src="GlobalGobi.png" class="brand"></a>-->
         <a class="navbar-brand hidden-xs" href="#" style="vertical-align:center"><img src="graphics/GlobalGobi.png" class="brand"></a>
         <a class="navbar-brand visible-xs" href="#" style="vertical-align:center"><img src="graphics/GlobalGobi.png" class="brand"></a>
         
         
         <!--================================================================================-->
         <!--                              s e a r c h
         <!--================================================================================-->
         
         <form class="navbar-form pull-left" role="search">
            <div class="input-group">
               <input type="text" class="form-control search" placeholder="Search for a recipe...">
               <div class="input-group-btn">
                  <button type="submit" class="btn btn-default round"><span class="glyphicon glyphicon-search"></span></button>
               </div>
            </div>
         </form>
      </div>
      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
 
 
<!--==============================================================================-->
<!--                                s i g n   u p 
<!--================================================================================-->
             
    <li><a href="#" data-toggle="modal"   id="logged_out" data-target="#registerModal">Sign-up</a>
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h3 class="modal-title" id="myModalLabel">Create an Account</h3>
            </div>
            

            <div class="modal-body" id="signup_form">
<!--             <form method="post"  name="signup" action="Register">
 -->              
   <!-- <fieldset> -->
                    <label for="new_username">Don't have a username? Choose one!</label></br>
                    <input type="text" name="new_username" id="username" placeholder="Username"></br>
                    <label class="error" for="new_username" id="new_username_error"> This field is required!</label></br></br>
                    


                    <label for="new_password">Choose a password:</label></br>
                    <input type="password" name="new_password" id="password" placeholder="Password"></br>
                     <label class="error" for="new_password" id="new_password_error"> This field is required!</label></br></br>

                  <!--button-->
                  <input type="submit" name="submit" class="signupbutton btn-large" id="submit_btn" value="Send" />
<!--                     
                <fieldset>    
             </form> -->
          </div>


    </div>
  </div>
</div><!--register bootstrap--></li>
 
 
         
         
<!--================================================================================-->         
<!--                                 l o g i n  
<!--================================================================================-->

    <li><a href="#" data-toggle="modal" id="logged_out" data-target="#loginModal">Login</a>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
              <h3 class="modal-title" id="myModalLabel">Login</h3>
            </div>

      <div class="modal-body" id="login_form">
<!--        <form method="post" name="login" action="">
            <fieldset> -->
            <label for="username"> Username: </label></br>
              <input type="text" name="username" id="username" placeholder="Username..."  /></br>
              <label class="error" for="username" id="username_error"> This field is required!</label></br>
              
            <label for="password">Password: </label></br>
              <input type="password" name="password" id="password" placeholder="password"  /></br>
              <label class="error" for="password" id="password_error"> This field is required!</label></br></br>
              



              <input type="submit" name="submit" class="button" id="submit_btn" value="Send" />
<!--        </fieldset>
      </form>-->
      </div>
    </div>
  </div>
</div><!--login bootstrap--></li>
            
      





<!--================================================================================-->
<!--                            r e c i p e   f o r m 
<!--================================================================================-->


            <li><a href="#" data-toggle="modal"   id="logged_in" data-target="#recipeModal">Add Recipe</a>
<div class="modal fade" id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="recipeModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h3 class="modal-title" id="myModalLabel" class="form-group">Add your recipe</h3>
            </div>


            <div class="modal-body" id="recipe_form">
 <!--               <form method="post" name="recipe" action="">
                    <fieldset>-->

                        <label for="recipe_name">Recipe Name: </label></br>
                        <input type="text" name="recipe_name" id="rec_name" placeholder="recipe name"  /></br>
                        <label class="error" for="recipe_name" id="recipe_name_error"> This field is required!</label></br></br>

                        <label for="rec_image">Image: </label></br>
                        <input type="text" name="recipe_image" id="recipe_image" placeholder="image url"  required /></br>
                        <label class="error" for="recipe_image" id="recipe_image_error"> This field is required!</label></br></br>
                        
                        <label for="recipe_checkbox">Dietary Restrictions</label></br>

                        <input type="submit" name="submit" class="recipebutton" id="submit_btn" value="Submit" />

<!--                      </fieldset>
                  </form>-->
            </div>
    </div>
  </div>
</div></li>


<!--================================================================================-->
<!--                                    l o g o u t
<!--================================================================================-->

        <!--<li><input type="submit" name="logout" id="logged_in" class="logoutbutton navbutton" id="logout_btn" value="Logout" /></li>-->
<li><a href="#" name="logout" id="logged_in" class="logoutbutton" id="logout_btn" />Logout</li>


<!--================================================================================-->
<!--                                       h e l p 
<!--================================================================================-->


<li><a href="#">?</a></li>

         </ul>
      </div>
      <!--/.navbar-collapse -->
   </div>
</div>




<!--=======================  MAP  =========================================-->
    
<div id="map"></div>

</body>
</html>