<!DOCTYPE html>
<html>
  <head>
    <title>SEARCH RESULTS</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <!--   somehow as many of these as we need and 
  place the name and dish_type on one line -->
<!--   something along the same logic as:
  for recipe in recipe_list: -->
  <body>
    <h3><%= recipe.name %></h3>
    <!-- make it the icon for the dish type -->
    <h3><%= recipe.dish_type %></h3>
  </body>
</html>