<!DOCTYPE html>
<html>
  <head>
  	
<link rel="shortcut icon" href="/graphics/favicon.ico" type="image/x-icon">
<link rel="icon" href="/graphics/favicon.ico" type="image/x-icon">
    <title>YOU AIN'T ALLOWED HERE</title>
  </head>
  <body>
    <h1> ERROR></h1>
    <p>WHAT ARE YOU TRYING TO DO YOU CANNOT BE HERE DO IT FOR THE ROCK AND ROLL ></p>
  </body
</html>
