<!DOCTYPE html>
<html>
  <head>
    
<link rel="shortcut icon" href="/graphics/favicon.ico" type="image/x-icon">
<link rel="icon" href="/graphics/favicon.ico" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Gobi Philosophy | Traveling Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

<script src="/javascripts/smooth-scroll.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/javascripts/parallax.min.js"></script>

<script type="text/javascript">
  $("#signupmessage").hide();
  //$("#features").hide();
  //console.log("hiding features tab");
</script>


<!-- onload script-->
<script type="text/javascript">


function buttondisplay() {
    $.ajax({
      type: "POST",
      url: "/Refresh",
      success: function(data) {
        //console.log('LOGGED in var below')
        //console.log(data.authenticated);
         if (data.authenticated) {
           $("#log_out").show();
           $("#log_in").hide();
           $("#add_recipe").show();
           $("#sign_up").hide();
           $("#profile").show();
           $(".upvotebutton").show();
           $(".voted").hide();
         } else {
           $("#log_out").hide();
           $("#log_in").show();
           $("#add_recipe").hide();
           $("#sign_up").show();
           $("#profile").hide;
           $(".upvotebutton").hide();
           $(".voted").hide();
         }
      }
    });
};
</script>


    <script src="/javascripts/validation.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="/javascripts/recipe.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>

  </head>

  <body onload="buttondisplay()">


<!--================================================================================-->
<!--                          n a v b a r    s t a r t  
<!================================================================================-->


<div class="navbar navbar-inverse navbar-default navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>

         <a class="navbar-brand hidden-xs" href="/" style="vertical-align:center"><img src="graphics/GlobalGobi.png" class="brand" style="max-width:40px;height:auto"></a>
         <a class="navbar-brand visible-xs" href="/" style="vertical-align:center"><img src="graphics/GlobalGobi.png" class="brand" style="max-width:40px;height:auto"></a>
           

      </div>
      <div class="navbar-collapse collapse">

 
        

<!--================================================================================-->
<!--                                       h o m e  
<!================================================================================-->
      <!--li style="vertical-align:center">Toggle settings: </li-->


<ul class="nav navbar-nav navbar-right">



<!--================================================================================-->
<!--                                    f e a t u r e s 
<!================================================================================-->


<li class="dropdown">
            <a href="#" id="myBtn" data-toggle="dropdown" class="dropdown-toggle">Features<b class="caret"></b></a>
            <ul id="drop" class="dropdown-menu" hidden>
                <li><a href="/heatmap" id="gray">Heatmap</a></li>
                <!--<li><a id="feeling_lucky" href="/#" onClick="lucky_click()" >I'm feeling lucky</a></li>-->
                <li><a href="#" id="white">the Gobi philosophy</a></li>
                <li><a data-scroll data-options='{ "easing": "easeInOutQuad" }' href="#aboutus" id="gray">our story</a></li>
            </ul>
        </li>

 <script>


$(function() {
$("#myBtn").click(function(){
    if ( $("#drop").hasClass("hidden")) {
         $("#drop").removeClass("hidden");
         $("#drop").slideDown("slow");              
    } else {
       if ( $("#drop").is(":hidden")) {
           $("#drop").slideDown("slow");
       } else {
          $("#drop").slideUp("slow");
        }
  }
})
})

</script>
<script>

$(document).click(function(evt){    
       if(evt.target.id !== "drop") {
          if ($("#drop").hasClass("hidden")===false) {
            $("#drop").slideUp("slow");
            return;
          }
       }
        });  

</script>


        

<!--================================================================================-->
<!--                                       h o m e  
<!================================================================================-->
      <!--li style="vertical-align:center">Toggle settings: </li-->





            
      


<!--================================================================================-->
<!--                                    l o g o u t
<!================================================================================-->

<!--<li><a href='#' class="logoutbutton2" id="log_out">Logout</a></li>-->


         </ul>
      </div>
      <!--/.navbar-collapse -->
   </div>
</div>






<!--===========================================================================-->
<!--                      i t s   o u r   p h i l o s o p h y      
<!-============================================================================-->


<div id="all_content">
<div class="parallax-window" data-parallax="scroll" data-image-src="/graphics/gobi1.jpg"><br><br><br><br><img class="phil" src="/graphics/phil.png" /></div>

  <div id="philosophy">
    
      If you were wondering, “Gobi” means cauliflower in Hindi.  

      <br><br>

      We are three MIT developers who all share a love of food, and, more importantly, we believe in the power of GOBI.  Having travelled around the world on different adventures, we thought to ourselves: IF ONLY there were way to recreate the unique tastes and flavors of Gobi we sampled (and maybe the other food), in one spot!  If only everyone in the world could share words of wisdom about gobi! 



<br><br>This website is meant to allow users to look for and share recipes around the world.  You can explore a cuisine you have always been interested in.  If you create an account, post recipes to share knowledge about the cuisine of your expertise! We can then personalize your experience even more by filtering recipes in our database based on dietary restrictions you specify to us, when you view the map or search for recipes.  Search for recipes by their title, look at the top 5 recipes in a given area, or just go around the world and explore all the recipes our users have shared.  We, the Global Gobis, have really enjoyed making this website and we hope you enjoy this experience as well!  Be sure to test out our “I’m feeling lucky” feature!
    </p>
  </div>
  <div class="parallax-window" data-parallax="scroll" data-image-src="/graphics/us3.png"><br><Br><br><br><br><br><img class="phil" id="aboutus" src="/graphics/aboutus.png" /></div>


  <div id="about_us">
    <div id="our_stories">
      <div class="group_pic"></div>
      <div class="single_story">
        <span style="font-size:2.2em">Kiran</span>
<!--         do we want pictures on this page?? -->
        <div><img  class="our_pictures" src="/graphics/kiran.png" /></div>
        <p>
          Enter Kiran.  From a town called Edison in New Jersey, she eats gobi  and dances a lot.  She also does a little computer science.  At home, there was one dish she could not stay away from: Gobi Manchurian.  Her parents began to wonder why she asked for it so much, and she even choreographed a Bollywood dance for it.  She worked so hard, just doing a little front end work (choosing all the colors) to bring you this website, so the other people in this world could also see why she loves Gobi so much.  JK Kiran did most of the front end work. Also she chose her prom dress while thinking about hex color codes.  

        </p>
      </div>
      <div class="single_story">
        <span style="font-size:2.2em">Deepti</span>
        <div><img  class="our_pictures" src="/graphics/deepti.png" /></div>
        <p>
          Deepti's gobi journey began at a young age. Moving from Singapore to the United States when she was 4, Deepti had little refuge from the confusing unknown that was her new home. The only thing she could look forward to were her mother's warm dinners every night. Deepti's most requested dish? A traditional North Indian item, gobi manchurian. Which brings us to present day Deepti. Hoping to share with the entire world the warmth and comfort that gobi has always provided her, Deepti worked tirelessly on this website. She hopes this website will bring a smile to all the other lil Deeptis out there.
          <br>
          #justdeeptithings
        </p>
      </div>
      <div class="single_story">
        <span style="font-size:2.2em">Kim</span>
        <div><img  class="our_pictures" src="/graphics/kim.png" /></div>
        <p>  
         Kim, who longboarded to MIT all the way from the streets of LA, thought she had everything that would make her life content.  She decided to go on an adventure to India last summer. One day, Kim woke up, brushed her teeth, went to her internship (in Bangalore), but little did she know her life would change.  When she went out to dinner that day, she ordered Gobi Manchurian.  Once Gobi became a part of her life, nothing was the same.  She began to believe in the power that is Gobi.  Back here at MIT, as she hopes to share this discovery she made in India, she brings you this website.
        </p>
      </div>
    </div>
  </div>


</div>


<script>
        smoothScroll.init({
          speed: 1000,
          easing: 'easeInOutCubic',
          offset: 0,
          updateURL: true,
          callbackBefore: function ( toggle, anchor ) {},
          callbackAfter: function ( toggle, anchor ) {}
        });
    </script>

  </body>
</html>