<!DOCTYPE html>
<html>
  <head>
    <title>A POST</title>    
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>  
  <body>
  <h1>Dish Name:</h1>    
  <p><%= dish.dishName %></p>
  <img src="<%= dish.picture %>" />
  <h3>Recipe:</h3>    
  <p><%= dish.recipe %></p>
  </body>
</html>