<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Profile | Food for Thought</title>
<script>
function randomPic() {
    var x = Math.floor((Math.random() * 6) + 1);
	document.write('<img src="/graphics/'+x.toString()+'.png" class="avatar" style="width:20vw;height:auto;" /> ');
}
</script>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $.ajax({
        type: 'POST',
        url: "/getRestrictions",
        context: document.body,
        success: function(data){
                var veg = data.vegetarian
                var vegan = data.vegan
                var allergies = data.allergies
                var glut = data.gluten_free

                if (veg===true) {
                  $("#c1").html('<label><input type="checkbox" name="vegetarian" id="vegetarian" value="" checked>Vegetarian</label>')
                };
                if (vegan===true) {
                  $("#c2").html('<label><input type="checkbox" name="vegan" id="vegan" value="" checked>Vegan</label>')
                };
                if (allergies===true) {
                  $("#c4").html('<label><input type="checkbox" name="gluten-free" id="gluten-free" value="" checked>Gluten-Free</label>')
                }
                if (glut===true) {
                  $("#c3").html('<label><input type="checkbox" name="allergies" id="allergies" value="" checked>No peanuts/soy</label>')
                };



            }});
    });
</script>

<meta name="viewport" content="width=device-width, initial-scale=1">



<script src="https://maps.googleapis.com/maps/api/js"></script>
<link href='https://fonts.googleapis.com/css?family=News+Cycle|Raleway:400,300,100' rel='stylesheet' type='text/css'>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/javascripts/profile_map_scripts.js"></script>
<script src="/javascripts/validation.js"></script>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/profile.css"/>

<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>


</head>

<body>



<div id="profile">
<div id="profcontents">

<h4>Welcome,</h4><p><%= username %></p>

<script type="text/javascript">randomPic();</script></br>
<h4>Recipe:</h4>

<ul>
<% for(var i=0; i<recipetitle.length; i++) {%>
   <li><%= recipetitle[i][1]+ ": "+ recipetitle[i][0] %></li>
<% } %>
</ul>

</br>
</br>
<p>Check out the recipes you uploaded---></p>
</br>
</br>
<p>Edit your dietary restriction:</p>

          <div class="checkbox" id="c1">
            <label><input type="checkbox" name="vegetarian" id="vegetarian" value="">Vegetarian</label>
          </div>
          <div class="checkbox" id="c2">
            <label><input type="checkbox" name="vegan" id="vegan" value="">Vegan</label>
          </div>
          <div class="checkbox" id="c3">
            <label><input type="checkbox" name="gluten-free" id="gluten-free" value="">Gluten-Free</label>
          </div>
          <div class="checkbox" id="c4">
            <label><input type="checkbox" name="allergies" id="allergies" value="">No peanuts/soy</label>
          </div>


          <div id="submitted" class="hidden">Preferences submitted! We'll update those for you</div></br>
          <input type="submit" name="submit" class="dietprefbutton btn-large" id="submit_btn" value="Submit changes" />



</div>

</div>

<div id="back"><a href="/">take me back!</a></div>
<div id="map"> </div>

</body>
</html>
