<!DOCTYPE html>
<html>
  <head>
    <title>A RECIPE</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <h1><%= recipe.name %></h1>
    <img src="<%= recipe.image %>" />
  </body>
</html>