*{
	box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
}

body {
	margin:0;
	font-family: 'Open Sans', sans-serif;
	font-size:1em;
}

.avatar {
	display:block;
	height: 20vw;
	width: auto;
	z-index:3;
	margin:0 auto;
}

#profile {
	height:100vh;
	width:40vw;
	background-color:#2dbeb2;
	color:white;
	position:fixed;
	z-index:2;
	overflow: auto;
}

#profcontents {
	margin: 0 auto;
	width:40vw;
	z-index:1;
	padding:70px;
	padding-top:30px;
	padding-bottom:60px;
	}


#dietprefs {
	margin: 0 auto;
	width:40vw;
	z-index:1;
	padding:40px;
	padding-top:80px;
	padding-bottom:80px;
	background-color:#57CBC1;
	}


	
#map {
	height:100vh;
	/*widthL70vw;*/
}

#back {
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	margin:0;
	border-radius:10vw;
	color:#f90e61;
	background-color:white;
	z-index:5;
	display:block;
	position:absolute;
	right:5vw;
	top:5vh;
	font-size:1.2em;
}

.recipes {
color:white;
}


#display {
	z-index:1;
	width: 60vw;
	height:50vh;
	background-color:white;
	left:40vw;
	bottom:0;
	position:fixed;
	padding:15px;
	padding-left:40px;
	overflow:auto;
}

.recipeimage {
	float:right;
	vertical-align: center;
}

 a {
 	color:white;
 }

a:hover{
	color:#ffff89;
}

 .space {
 	margin-bottom:50px;
 }


 #pinklink{
 	color:#ec0763;
 }

#pinklink:hover{
 	color:#c80553;
 }

 #submit_btn2 {
	border-radius:50px;
	background-color:#D75261;
	color:white;
	border:0;
	float:right;
	bottom:2vh;
	right:2vw;
	margin:20px;
	padding:5px 10px 5px 10px;
}

#submit_btn2:hover {
	background-color:#c54755;
}