@charset "UTF-8";
/* CSS Document */
*	RESET
*/
*{
	box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
}

body {
	margin:0;
}


#map {
	height:100vh;
	width:100vw;
	position:fixed;
	clear:left;
}

#recipe_form {
	background-color: white;
	position:absolute;
	float:left;
	width:100vw;
	clear:left;
	/*height:auto;*/
	margin:0;
	/*margin-top:10vw;*/
}
body {
  background-color:#34495e;
}

#nav {
	background-color:#35d7b7;
	margin: 0;
	position:relative;
	height:10vh;
	width:100vw;
	padding:0;
}


/*http://www.adam-bray.com/blog/108/html-5-css-jquery-login-registration-popup-box/*/
/*container*/

*:after,
*:before {
	box-sizing: border-box;
}

/*
*	GLOBAL
*/
html {
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

body {
	background-color: #f3f3f3;
	color: rgb(165,165,165);
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 300;
}
/*
a.close {
	background-color: transparent;
	border: 0;
	color: #ffffff;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 5em;
	padding: 1vw;
	position: absolute;
	top: 5vh;
	transition: all 400ms ease;
	right: 3rem;
}
	
	a.close:hover {
		background-color: transparent;
		cursor: pointer;
		color:#ffffff;
	}
*/
.top {
	z-index:1;
}

.form-control {
	width:100%
}
/*
.brand {
	max-height:200%;
	width:auto;
	margin:-10px 0px 0px 0px;
	display: inline-block;
}




@    @media (max-width:992px){
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
     }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
     }
     .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    } 
}*/
/*
color: white; /*BACKGROUND color for active
background-color: #2DBEB2;
    background-color: #35d7b7;
*/
/*
.navbar{
	color: white; /*BACKGROUND color for active*/
/*background-color: #2DBEB2;
    background-color: #35d7b7;
	border-color: #35d7b7;
	font-size:120%;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #2DBEB2;
    color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ecdbff;
	background-color: #8e44ad;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ecdbff;
	background-color: #8e44ad;
}
.navbar-default .navbar-toggle {
	border-color: #8e44ad;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #8e44ad;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #ecdbff;
}


.navbar-header > a 
{
    float: left;
}*/

.modal-body {
	font-family:"Open Sans";
	font-weight: 300;
	color:black;
	font-style:normal;
	padding-top:10vh;
}

.modal-header {
	background-color:#e61c66;
	color:white;
	font-size:150%;
}
/*
.round {
	border-radius:0px 30px 30px 0px;
}

.avatar {
	height:20vh;
	width:auto;
}
*/


#submit_btn {
	border-radius:30px;
	background-color:#35d7b7;
	color:white;
	border:0;
	float:right;
	box-shadow:none;
	padding:3px 10px 3px 10px;
	font-size:1em;
}


.navbutton {
	background-color:#35d7b7;
	border:none;
	color:white;
}




/*.navbar-right {
	background-color:#35d7b7;
	border:none;
	color:white;
}*/

.modal-content {
	border-radius:50px;
}

.modal-header {
	border-radius:50px 50px 0px 00px;
	text-align: center;
}

.modal-body {
	text-decoration: none;
	font-weight:100;
	padding: 2vw;
	position: relative;
}

/*
.close {
	background-color: transparent;
	border: 0;
	color: #ffffff;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 1em;
	padding: 1vw;
	position: absolute;
	top: 3vh;
	transition: all 400ms ease;
	right: 3vw;
}*/

/*#form {
	position:absolute;
}*/


#instructionbar {
	width:100vw;
	/*height:10vh;*/
	background-color:#35d7b7;
	color:white;
	font-weight:100;
	position:fixed;
	margin: 0;
	z-index:2;
	top:0;
	/*font-size:2em;*/
	line-height:2em;
	vertical-align:center;
	padding:0.5em;
}

.scroll {
	z-index:1;
	float:right;
	bottom:22vh;
	right:5vw;
	position:relative;
	margin:0px;
	display:block;
}

#map-section {
	height:100vh;
	margin:0;
}

.page {
	display:inline-block;
	overflow:hidden;
}

button {
	background-color:transparent;
	border:0;
	outline: 0;
	box-shadow: none;
}

.bar {
    height: 18px;
    background: green;
}

.error {
	text-decoration:none;
	font-weight:100;
	color: #f90e61;
}

.bigger {
	width:75vw;
	height:10vw;
	white-space: normal;
}


.fixedtop {
	position:fixed;
	top:30px;
	z-index:10;
	color:white;
	font-size:1.5em;
	margin-right:30px;
	margin-left:30px;
	float:left;
	width:60vw;
	padding-right:30px;
}

#bar {
	width:100vw;
	height:90px;
	z-index:8;
	background-color:black;
	opacity:0.5;
	top:0;
	position:fixed;
}

#cancel:hover {
	text-decoration: none;
	color:yellow;
	clear:both
}

#cancel {
	margin-right:30px;
	position:fixed;
	top:30px;
	z-index:10;
	color:white;
	font-size:1.5em;
}
.fixedtop2 {
	position:fixed;
	top:30px;
	z-index:10;
	color:white;
	font-size:1.5em;
	margin-right:30px;
	margin-left:30px;
	float:left;
	width:60vw;
	padding-right:30px;
	color:transparent;
}